<div class="card">
  <h4>{{ title }}</h4>
  <ngx-skeleton-loader *ngIf="!title" count="1" appearance="line" animation="pulse"></ngx-skeleton-loader>
  <div class="card-body">
    <h3 *ngIf="value == 0">{{ value }}</h3>
    <h3>{{ value | numberAbbreviation }}</h3>
    <ngx-skeleton-loader *ngIf="!value" count="1" appearance="line" animation="pulse"></ngx-skeleton-loader>
    <div *ngIf="title.includes('Orçamento')" class="budget-block">
      <div class="top-budget-info green">
        <i class='bx bx-up-arrow-alt'></i>
        <span>25%</span>
      </div>
      <p>Comparado com 01/23</p>
    </div>
  </div>
</div>
