<div class="container">
  <div class="title-line">
    <h3 class="title">Coleções</h3>
    <div class="btn-container">
      <button class="btn btn-primary" (click)="redirectToCreateCollection()">Criar Coleção</button>
    </div>
  </div>


  <div class="table-container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Coleção</th>
          <th scope="col">Responsável</th>
          <th scope="col">Estação - Lançamento</th>
          <th scope="col">Modelos</th>
          <th scope="col">Orçamento</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let collection of collections" (click)="redirectToUpdate(collection.id)">
          <td>{{ collection.name }}</td>
          <td>{{ collection.accountable }}</td>
          <td>{{ collection.season + ' - ' + collection.release }}</td>
          <td>{{ collection.models }}</td>
          <td>{{ collection.budget | currency: 'BRL' }}</td>
        </tr>
      </tbody>
    </table>
    <!-- <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav> -->
  </div>

</div>
