<div class="header-container">
  <div class="user-name">
    <span>Olá, {{ userName }}.</span>
  </div>
  <i class='bx bxs-bell'></i>
  <div class="btn-group">
    <button type="button" class="btn btn-invisible">
      <div class="box">
        <img src="assets/images/user-photo.png" alt="">
      </div>
    </button>
    <button type="button" class="btn btn-invisible" data-bs-toggle="dropdown" aria-expanded="false">
      <i class='bx bx-chevron-down'></i>
    </button>
    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
      <li>
        <a class="dropdown-item">
          <div class="dropdown-line">
            <i class='bx bxs-user'></i>
            <span>Conta</span>
          </div>
        </a>
      </li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li>
        <a class="dropdown-item">
          <div class="dropdown-line">
            <i class='bx bxs-cog'></i>
            <span>Configurações</span>
          </div>
        </a>
      </li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li (click)="logout()">
        <a class="dropdown-item">
          <div class="dropdown-line">
            <i class='bx bxs-exit'></i>
            <span>Sair</span>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
