<div class="container">
  <img src="assets/images/logo.png" alt="">
  <form [formGroup]="passwordRecoveryForm" (ngSubmit)="onSubmit()">
    <span><i class='bx bx-left-arrow-alt'></i> <h2>Redefinir Senha</h2></span>
      <h4>Digite o e-mail sassociado à sua conta e enviaremos instruções para redefinir sua senha.</h4>
      <div class="input-group has-validation">
        <div class="form-floating is-invalid">
          <input [class]="email!.errors?.['required'] && email!.touched ? 'is-invalid' : ''" formControlName="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Informe seu email</label>
        </div>
        <div *ngIf="email!.errors?.['required'] && email!.touched" class="invalid-feedback">
          Informe um email.
        </div>
      </div>
    <button type="submit" class="btn btn-primary">Enviar Recuperação</button>
  </form>
</div>
