<div class="container">
  <img src="assets/images/logo.png" alt="">
  <form>
    <h2>Redefinir Senha</h2>
    <h4>Digite o e-mail sassociado à sua conta e enviaremos instruções para redefinir sua senha.</h4>
    <div class="input-group has-validation">
      <div class="form-floating is-invalid">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Informe seu email</label>
      </div>
      <div class="invalid-feedback">
        Informe um email.
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Enviar Recuperação</button>
  </form>
</div>
