@import '../../app.component';

.container {
  min-width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.container img {
  height: 35.99px;
  width: 36px;
}

.container form {
  width: 480px;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 64px;
  gap: 12px;
}

form span {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

form span i {
  font-size: 24px;
  margin-top: 10px;
  cursor: pointer;
}

form h2 {
  width: 100%;
  margin-top: 13px;
  color: #2C2C2C;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
}

form h4 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: $sign-in-credentials-color;
  text-align: center;
  padding: 0px 15px;
}

.form-floating {
  margin-top: 60px;
}


form .form-floating label {
  color: $sign-in-credentials-color;
  font-weight: 400;
  font-size: 14px;
}

form button, .form-floating {
  width: 100%;
}

form button {
  margin-top: 60px;
  height: 50px;
  background-color: $button-color;
  font-weight: 600;
  font-size: 18px;
}

form button:hover {
  background-color: $button-hover;
}

p {
  font-weight: 400;
  color: $link-text-color;
  font-size: 16px;
  margin-bottom: 0px;
}

a {
  text-decoration: none;
  color: #277FFE;
  font-weight: 500;
}

