<div class="container">
  <h3 class="title">Editar Coleção</h3>
  <form [formGroup]="collectionEditForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-sm">
        <div class="form-floating">
          <input formControlName="name"
            [class]="name!.errors?.['required'] && name!.touched || name!.errors?.['minlength'] ? 'is-invalid' : ''"
            type="text" class="form-control" id="floatingName" placeholder="Nome">
          <label for="floatingInput">Nome da Coleção</label>
        </div>
      </div>
      <div class="col-sm">
        <div class="form-floating">
          <input formControlName="accountable"
            [class]="accountable!.errors?.['required'] && accountable!.touched || accountable!.errors?.['minlength'] ? 'is-invalid' : ''"
            type="text" class="form-control" id="floatingAccountable" placeholder="Nome">
          <label for="floatingInput">Responsável pela Coleção</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <div class="form-floating">
          <input formControlName="season"
            [class]="season!.errors?.['required'] && season!.touched || season!.errors?.['minlength'] ? 'is-invalid' : ''"
            type="text" class="form-control" id="floatingSeason" placeholder="Nome">
          <label for="floatingInput">Para qual estação?</label>
        </div>
      </div>
      <div class="col-sm">
        <div class="form-floating">
          <input formControlName="brand"
            [class]="brand!.errors?.['required'] && brand!.touched || brand!.errors?.['minlength'] ? 'is-invalid' : ''"
            type="text" class="form-control" id="floatingBrand" placeholder="Nome">
          <label for="floatingInput">Para qual marca você está criando?</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <div class="form-floating">
          <input formControlName="budget"
            [class]="budget!.errors?.['required'] && budget!.touched || budget!.errors?.['minlength'] ? 'is-invalid' : ''"
            type="text" class="form-control" id="floatingBudget" placeholder="Nome">
          <label for="floatingInput">Qual é o orçamento desta Coleção?</label>
        </div>
      </div>
      <div class="col-sm">
        <div class="form-floating">
          <input formControlName="release"
            [class]="release!.errors?.['required'] && release!.touched || release!.errors?.['minlength'] ? 'is-invalid' : ''"
            type="text" class="form-control" id="floatingRelease" placeholder="Nome">
          <label for="floatingInput">Ano de Lançamento</label>
        </div>
      </div>
    </div>
    <div class="img-container">
      <img src="assets/images/image 1.png" alt="">
    </div>
    <div class="buttons-area">
      <div class="left">
        <button class="btn btn-danger" (click)="delete()">Excluir</button>
      </div>
      <div class="right-area-buttons">
        <button (click)="cancel()" type="button" class="btn btn-light">Cancelar</button>
        <button type="submit" class="btn btn-primary">Salvar</button>
      </div>

    </div>
  </form>
</div>
