<div class="container">
    <img src="assets/images/logo.png" alt="">
    <form>
      <h2>Sign In</h2>
      <h4>Insira suas credenciais para acessar sua conta</h4>
      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Informe seu email</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Informe sua senha</label>
      </div>
      <button class="btn btn-primary">Entrar</button>
    </form>
    <p>Esqueceu sua senha? <a href="#">Redefinir senha</a> </p>
    <p>Ainda não tem uma conta? <a [routerLink]="['/signup']">Cadastre-se</a> </p>
  </div>