// LOGIN
$login-background-color: #F2F5FF;
$sign-in-title-color: #2C2C2C;
$sign-in-credentials-color: #B4B6C1;
$link-color: #277FFE;
$link-text-color: #989898;
// MENU
$button-color: #0073CF;
$button-hover: #005aa3;
$nav-menu-selected: #4C68FF;
$nav-menu-option: #A4A4A4;
$nav-menu-border-color: #F0F0F0;
// LAYOUT
$layout-full-main-wrapper-background-color: #F9F9F9;
// HEADER
$header-icon-color: #9395A3;
$header-box-color: #D9D9D9;
$header-dropdown-itens-color: #2B2C33;
// CARD
$card-title-color: #595959;
$card-green-indicator-color: #56976E;
$card-red-indicator-color: rgb(216, 66, 66);
// COLLECTIONS
$button-list-color: #0073CF;
$cancel-button-color: #A098AE;

