$login-background-color: #F2F5FF;
$sign-in-title-color: #2C2C2C;
$sign-in-credentials-color: #B4B6C1;
$link-color: #277FFE;
$link-text-color: #989898;
$button-color: #0073CF;
$button-hover: #005aa3;
$nav-menu-selected: #4C68FF;
$nav-menu-option: #A4A4A4;
$nav-menu-border-color: #F0F0F0;
$layout-full-main-wrapper-background-color: #F9F9F9;
