@import '../../app.component';

.layout-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.layout-container .menu-wrapper {
  min-height: 100vh;
  min-width: 332px;
  border-right: 1.75px solid $nav-menu-border-color;
}

.layout-container .main-wrapper {
  display: flex;
  flex-direction: column;
  background-color: $layout-full-main-wrapper-background-color;
  min-height: 100vh;
  width: 100%;
}

.layout-container header {
  width: 100%;
  min-height: 120px;
}
