<div class="container">
  <div *ngIf="!collections; else loaded">
    Loading...
  </div>
  <ng-template #loaded>
    <div class="title-line">
      <h3 class="title">Modelos</h3>
      <div class="btn-container">
        <button class="btn btn-primary" (click)="redirectToCreateModel()">Criar Modelo</button>
      </div>
    </div>
    <div class="table-container">
      <div style="overflow-y: auto;">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">ModeloID</th>
              <th scope="col">Nome do Modelo</th>
              <th scope="col">Responsável</th>
              <th scope="col">Coleção</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let model of models" (click)="redirectToUpdate(model.id)">
              <td>{{ model.id }}</td>
              <td>{{ model.name }}</td>
              <td>{{ model.accountable }}</td>
              <td>{{ getCollectionName(model.collection) }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-template>


</div>
