<div class="container">
  <div class="logo-container">
    <img src="assets/images/logoWithName.png" alt="logo">
  </div>
  <h4>Menu</h4>
  <ul>
    <li routerLinkActive="active" [routerLink]="['/dashboard']">
      Dashboard
    </li>
    <li routerLinkActive="active" [routerLink]="['/collections']">
      Coleções
    </li>
    <li routerLinkActive="active" [routerLink]="['/models']">
      Modelos
    </li>
    <li routerLinkActive="active" [routerLink]="['/help']">
      Obter Ajuda
    </li>
    <li routerLinkActive="active" [routerLink]="['/comments']">
      Comentários
    </li>
  </ul>
</div>
